# Android / Gradle
.gradle/
.gradle-cache/
build/
*/build/
app/build/
app/src/*/build/
*/.cxx/
local.properties



# IntelliJ / Android Studio
*.iml
.idea/
*.hprof

# OS Files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
*.swp
tmp/
tmp*/


# Optional folders you mentioned
confs/
0_info/
jvm/ 
app-/

# Android SDK / generated
cmdline-tools/
build-tools/
licenses/
platform-tools/
platforms/

# Optional: ProGuard / shrink outputs (if you keep them)
*/outputs/
